/* Selected font families: https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap */

* {
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 15%);
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Inter, sans-serif;
    font-weight: 600;
}

.image-caption {
    font-style: italic;
    font-weight: 300;
}

button {
    background-color: hsl(8, 99%, 68%);
    border: solid;
    border-width: 2px;
    border-color: hsl(8, 99%, 68%);
    padding: 10px 22px;
    margin: 4px 0;
    font-size: inherit;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    border-radius: 7px;
}

button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(8, 99%, 68%);
}

